# Ignore everything by default
*

# Allow Dockerfile context to include build essentials
!Dockerfile
!docker-compose.yml
!app/package.json
!app/package-lock.json
!app/tsconfig.json
!app/src/**
!app/config/**
